.container-messages-new {

  h3 {
    margin-left: -14px;
  }

  .options {
    margin-bottom: 32px;

    label {
      margin-left: -4px;
    }
  }

  .message-attributes {
    margin-bottom: 0;
  }

  .new-attribute {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
    float: left;
  }

  .btn-submit {
    margin-left: -10px;
  }
}

#message_devices {
  display: none;
}
