<%= render partial: 'jera_push/admin/devices/filter', locals: {filter_path: jera_push_admin_devices_path, filter: @filter} %>

<div id="device_list">
  <%= render partial: 'jera_push/admin/devices/list', locals: {devices: @devices} %>
</div>

<div id="paginator">
  <%= paginate @devices, remote: true %>
</div>