.devices-list {
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;

  &.checkbox {
    overflow: initial;
    height: 100%;
  }

  .btn-action {
    font-size: 14px;
    font-weight: 400;
  }
}
